body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Change this to column to align items vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

#title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

div {
    margin-bottom: 10px;
}

label, input {
    margin-right: 5px;
}

#menuCompetences, #menuSemestres {
    display: flex;
    flex-direction: column;
}