body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Change this to column to align items vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

#title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(252, 252, 252);
}

div {
    margin-bottom: 10px;
}

label, input {
    margin-right: 5px;
}

#menuCompetences, #menuSemestres {
    display: flex;
    flex-direction: column;
}

/* ---------------------- Background Animation ---------------------- */

canvas {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}